name: Build with Docker and release

on:
  push:
    tags:
      - "1.18.0-6ubuntu*"

permissions:
  contents: write

jobs:
  build_x86_64:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build --build-arg TARGET_ARCH=$(uname -i) -t builder .

      - name: Create container
        run: docker create --name artifacts-container builder

      - name: Copy build artifacts
        run: |
          docker cp artifacts-container:/build/dist ./dist

      - name: Remove container
        run: docker rm artifacts-container

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build_aarch64:
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build --build-arg TARGET_ARCH=$(uname -i) -t builder .

      - name: Create container
        run: docker create --name artifacts-container builder

      - name: Copy build artifacts
        run: |
          docker cp artifacts-container:/build/dist ./dist

      - name: Remove container
        run: docker rm artifacts-container

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-release:
    name: publish release
    needs: [ build_x86_64, build_aarch64 ]
    runs-on: ubuntu-latest
    steps:
      - name: publish release
        uses: softprops/action-gh-release@v2
        with:
          draft: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
